body a:hover {
    text-decoration: none;
}

.card-body {
    padding: 8px;
    border-bottom: 10px groove dimgrey;
    background-color: lightblue;
    border-radius: 10px;
    margin: 15px;

}

.card-header {
    padding:10px;
    color: #0e0f10;
}

.card-Button {
    position: absolute;
    right: 0px;
    bottom: 0px;
}

.MainScreen {
  margin-left:180px;
  }

.logo {
    width: 300px;
    height: 160px;
    background: url('https://webmail4.kocaeli.edu.tr/logograyrainloop2.png') no-repeat;
    margin: 30px auto;
}

.login-block {
    width: 320px;
    padding: 20px;
    background: #C5C5C5;
    border-radius: 5px;
    border-top: 5px solid #717999;
    margin: 0 auto;
}