@model BusinessProcessManagementSampleProject.Models.UserDetailViewModel

@{
    ViewData["Title"] = "Detail";
    Layout = "~/Views/Shared/_layout.cshtml";
}


<div class="bg-white w-100 shadow p-3">
    <h3 class="text-center">Hesap Detay</h3>
    <div class="form-group">
        <label type="text" class="form-control" id="inputTitle" hidden>@Model.User.Id</label>
    </div>
    <div class="form-group">
        <label for="inputUserName" class="font-weight-bold">İsim Soyisim</label>
        <label type="text" class="form-control" id="inputTitle">@Model.User.UserFullName</label>

        <label for="inputUserName" class="font-weight-bold">Mail</label>
        <label type="text" class="form-control" id="inputTitle">@Model.User.Email</label>

    </div>
</div>

