<header>

    <link href="~/lib/bootstrap/dist/css/bootstrap.css" rel="stylesheet" />
    <link href="~/css/fontawesome-all.css" rel="stylesheet" />
    <link href="~/css/jquery.desoslide.css" rel="stylesheet" />
    <link href="~/css/style.css" rel="stylesheet" />
    <link href="//fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800" rel="stylesheet">
    <div class="col-md-4 logo text-left">
        <a class="navbar-brand" href="index.html">
            <i class="arma"></i> Kocaeli Üniversitesi İş Yönetim Sistemi
        </a>
    </div>

    <div class="header_top" id="home">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <button class="navbar-toggler navbar-toggler-right mx-auto" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                    <li class="nav-item active">
                        <a class="nav-link" href="#">
                            Ana Sayfa
                            <span class="sr-only">(current)</span>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/Group/Index">Projeler</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">İstatistik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contact.html">Üyeler</a>
                    </li>
                </ul>
            </div>
        </nav>

    </div>
</header>