@model IEnumerable<EntityLayer.Concrete.Group>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_layout.cshtml";
}
<div class="row MainScreen">
    <link href="~/css/single.css" rel="stylesheet" />
    @foreach (var group in Model)
    {
<div class="card-body col-md-3">
    <h5 class="card-header">
        <a>@group.Title</a>
    </h5>
    <div>
        <h6>Projedeki Kişiler</h6>
        @foreach (var member in group.GroupMembers)
        {
            <Span>
                @member.Member.UserName
            </Span>
            <br>
        }
    </div>
    <p>
        Proje Durumu: @group.Status
    </p>
    <br />
    <div>
        <a href="#" class="card-Button">Ayrıntılar için tıklayınız...</a>
    </div>
</div>
    }
</div>